body
{
margin:100px auto;
}
.parent
{
width:600px;
height:200px;
border:3px solid red;
margin:auto;
text-align:center;


}
.child
{
border-radius:10%;
width:100px;
height:100px;
margin:20px;
float:left;

}
.one
{
background-color:lightblue;
}
.two
{
background-color:royalblue;
}
.three
{
background-color:sienna;
}
.four
{
background-color:slateblue;
}
